/* start global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: #eee;

}
body{
  width: 100%;
  height: 100%;
  background: black no-repeat center fixed;
  background-size: cover;
  letter-spacing: 1.5px;
}

section{
  padding: 10.2rem 0;

}
a{
  text-decoration: none;
  color: #eee;
}
p{
  font-size: 1.8rem;
  font-weight: 300;
}

img{
  width: 100%;
}

/* end global  */



/* start reusable */
.container{
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading{
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1{
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color:rgba(255, 255, 255, 0.75);
}

.section-heading h1::before{
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.section-heading h1::after{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6{
  font-size: 1.6rem;
  font-weight: 300;

}

.has-margin-right{
  margin-right: 5rem;
}

/* end reusable  */







/* start about  */
.about .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading{
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1{
  font-size: 10rem;
  opacity: .3;
}

.about-heading h6{
  font-size: 2rem;
  font-weight: 300;
}

.profile-img{
  flex: 1;
  margin-right: 5rem;


}
.about-details{
  flex: 1;
}

.about .cta{
  display: inline-block;
  margin-top: 2.5rem;
  margin-left: 25rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgba(227, 37, 40, 1.00);
  transition: color 650ms;
  font-weight: bold;
}

.about .cta:hover{
  color: white;
}

.about .underline a{
  text-decoration: underline;
}
/* end about  */




/* start services */
.my-skills{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}
.skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}

.icon-container{
  width: 10rem;
  height: 10rem;
  background-color: rgba(227, 37, 40, 1.00);
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}
.icon-container i{
  color: white;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg)
}
/* end services */



/* start portfolio */

.portfolio-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

}

.portfolio-item:last-child{
  margin-bottom: 0;
}

.profile-img{
  flex: 1;
  width: 50rem;

}
.portfolio-description{


}

.portfolio-description h1{
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1rem 0;

}

.portfolio-description h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;

}

.portfolio-description .cta{
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgba(227, 37, 40, 1.00);
  transition: color 650ms;
}

.portfolio-description .cta:hover{
  color: white;
}
/* end portfolio */



/* start timeline */
.timeline ul{
  border-left: 4px solid rgba(227, 37, 40, 1.00);
  border-radius: .8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.timeline .date{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after{
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before{
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;

}

.timeline .date::after{
  content: '';
  box-shadow: 0 0 0 4px white;
  border-radius: 100%;
  left: -6rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}

/* end timeline */


/* start my Skills */
.icon-container2{
  width: 10rem;
  height: 10rem;
  background-color: rgb(51, 153, 255);
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(90deg);
}
.icon-container2 i{
  color: white;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-90deg)
}
/* end my skills */

/* start footer */
.copyright{
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 1rem 0;
  position: relative;
}

.up{
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: white;
  top: -7rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
}

.up i{
  color: black;
  font-size: 2.5rem;
  margin: auto;
  cursor: pointer;
}

.copyright p{
  font-size: 1.4rem;


}
/* end footer */

/* start animation */
@keyframes pulse {
  0%{
      box-shadow: 0 0 0 0 rgba(227, 37, 40, 1);
  }
  70%{
    box-shadow: 0 0 0 1rem rgba(227, 37, 40, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(227, 37, 40, 0);
  }
}

/* end animation */

/* media queries */

@media screen and (max-width: 768px) {
  body{
    background: black no-repeat center fixed;
    background-size: cover;
  }

  li{
    margin: 2rem 0;
  }
  .about-heading h1{
    font-size: 8rem;
  }
  .section-heading h1{
    font-size: 3rem;
  }
  .about-details .nav-list{
    felx-direction: initial;
  }
  .about-details li{
    margin: 0 2rem;
  }

  .icon-container{
    width: 7rem;
    height: 7rem;
  }
  .icon-container i{
    font-size: 4rem;
  }
  .timeline ul{
    margin: 0 0 0 auto;
  }
  .timeline .date::before{
    left: -20rem;
  }
  .timeline .date::after{
    left: -5.9rem;
  }



@media screen and (max-width: 600px) {

  .about .container{
    flex-direction: column;
  }
  .profile-img{
    margin: 0 0 7rem 0;
  }
  .portfolio-item{
    flex-direction: column;

  }
  .portfolio-img{
    margin: 0 0 2rem 0;
    order: 1;
  }
  .portfolio-description{
    margin: 0;
    order: 2;
  }
.timeline p{
  font-size: 1.6rem;
}
.timeline .date::before{
  font-size: 1.4rem;

}
.up{
  right: 2rem;
}


}
